<!DOCTYPE html>
<html>
<head>
<title>{{ title }} - Page</title>
</head>
<strong><nav>
<ul class="menu">
<a href="{{ url_for('home') }}">Home</a>
{% if current_user.is_authenticated == True %}
	<a href="{{ url_for('account') }}">Account</a>
	<a href="{{ url_for('orders') }}">Orders</a>
	<a href="{{ url_for('add_orders') }}">Add Orders</a>
	<a href="{{ url_for('stock') }}">Stock List</a>
	<a href="{{ url_for('add_edit_stock') }}">Add/Edit Stock</a>
	<a href="{{ url_for('logout') }}">Logout</a>
{% else %}
	<a href="{{ url_for('register') }}">Register</a>
	<a href="{{ url_for('login') }}">Login</a>
	{% endif %}
</ul>
</nav></strong>
<body>
<h1>{{  title  }} Page</h1>
{% block body_content %}{% endblock %}
</body>
</html>
